In [44]:
import pandas as pd

In [45]:
sentiment_1 = pd.read_csv('sentiment_gpt4_only.csv')
sentiment_2 = pd.read_csv('sent_predicted.csv')

In [46]:
sentiment_2['Date'] = pd.to_datetime(sentiment_2['Date'])

In [47]:
sentiment_2['Date'] = sentiment_2['Date'].dt.date

In [48]:
sentiment_2

           Date                                              Title Sentiment
0    2010-02-04    CNNMoney.com Market Report - Feb. 4, 2010 - CNN  positive
1    2011-08-08  Debt crisis sends financial markets into turmo...  negative
2    2011-10-04      Market Report - Oct. 4, 2011 - CNNMoney - CNN  positive
3    2010-12-02                    Natural Gas Weekly Update - EIA  negative
4    2011-01-05  World food prices enter 'danger territory' to ...  negative
..          ...                                                ...       ...
583  2010-10-09                       A better way - The Economist  positive
584  2010-04-11  Euro Nations Offer Greece $40 Billion Backstop...  positive
585  2011-12-02  GMAC Mortgage to halt most new lending in Mass...  negative
586  2011-12-08  ECB cuts interest rates, signals willingness t...  negative
587  2010-01-15  JPMorgan Chase Earns $11.7 Billion in Year - T...  positive

[588 rows x 3 columns]

In [53]:
sentiment_1

,Date,Title,Sentiment
0,2010-01-04,Global Stocks and Commodities Rally on First T...,positive
1,2010-01-04,Dollar Slumps Amid Worldwide Manufacturing Imp...,negative
2,2010-01-04,Oil Prices Surge Above $81 a Barrel Due to U.S...,negative
3,2010-01-04,"S&P 500 Sees 1.6 Percent Increase, Hits 15-Mon...",positive
4,2010-01-04,"Argentina's Merval Index Reaches Record High, ...",positive
...,...,...,...
8134,2011-12-30,Earnings Season Begins with JPMorgan and Citi...,indecisive
8135,2011-12-30,June Inflation Report Expected to Show Price ...,indecisive
8136,2011-12-30,Chinese Trade Data Expected to Show Slower Ex...,negative
8137,2011-12-30,S&P 500 Exchange-Traded Fund Slips 0.5 Percen...,negative
8138,2011-12-30,Bloomberg Dollar Spot Index Drops 0.1 Percent,indecisive

In [49]:
sentiment_1['Date'] = pd.to_datetime(sentiment_1['Date'])

In [50]:
sentiment_1['Date'] = sentiment_1['Date'].dt.date

In [54]:
concatenated_df = pd.concat([sentiment_1, sentiment_2], ignore_index=True)

In [56]:
concatenated_df.to_csv('concatenated_sentiment.csv',index=False)